! .Xresources
!
! Xorg Settings

! Extended default Xresources
#if __has_include(".extend.Xresources")
#include ".extend.Xresources"
#endif

! ##----------------------------------------------------##
! #|                    Font Settings                   |#
! ##----------------------------------------------------##
*.font:                 xft:monospace:pixelsize=10
Xft.dpi:                96
Xft.antialias:          true
Xft.autohint:           1
Xft.hinting:            1
Xft.hintstyle:          hintslight
Xft.lcdfilter:          lcdlight
Xft.rgba:               rgb

! ##----------------------------------------------------##
! #|                Colorscheme: Dracula                |#
! ##----------------------------------------------------##
! urxvt
URxvt*background:       #292d3e
URxvt*borderColor:      #292d3e
URxvt*foreground:       #ffffff
URxvt*cursorColor:      #bbc5ff

! xterm
XTerm*background:       [90]#292d3e
XTerm*borderColor:      [90]#292d3e
XTerm*foreground:       #ffffff
XTerm*cursorColor:      #bbc5ff

! i3wm
i3wm.color0:            #292d3e

! black
*.color0:               #292d3e
*.color8:               #434758

! red
*.color1:               #f07178
*.color9:               #ff8b92

! green
*.color2:               #c3e88d
*.color10:              #ddffa7

! yellow
*.color3:               #ffcb6b
*.color11:              #ffe585

! blue
*.color4:               #82aaff
*.color12:              #9cc4ff

! magenta
*.color5:               #c792ea
*.color13:              #e1acff

! cyan
*.color6:               #89ddff
*.color14:              #a3f7ff

! white
*.color7:               #d0d0d0
*.color15:              #ffffff

! ##----------------------------------------------------##
! #|                        urxvt                       |#
! ##----------------------------------------------------##
URxvt*termName:         rxvt-unicode
URxvt.depth:            32
URxvt.scrollBar:        false
URxvt.cursorBlink:      false
URxvt.internalBorder:   1
URxvt.font:             xft:FiraCode:pixelsize=14,\
                        xft:monospace:pixelsize=16,\
                        xft:FontAwesome:pixelsize=10:antialias=true,\
                        xft:siji:pixelsize=10:antialias=true

! ##----------------------------------------------------##
! #|                        st                          |#
! ##----------------------------------------------------##
st.alpha:               1.0
st.font:                Monospace-11;
st.termname:            st-256color
st.borderpx:            2
